@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using GenericResponseAPI.Areas.HelpPage
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ?
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) :
        null;
}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse-@Model.Key.ControllerName" href="#collapse-@Model.Key.ControllerName">
            <h4 id="@Model.Key.ControllerName" class="panel-title">
                @Model.Key.ControllerName
            </h4>
        </div>
        <div id="collapse-@Model.Key.ControllerName" class="panel-collapse collapse in">
            <br />
            @if (!String.IsNullOrEmpty(controllerDocumentation))
            {
                <div class="alert alert-info" style="margin-left: 15px; margin-right: 15px;">
                    <p>@controllerDocumentation</p>

                </div>
            }
            <table style="margin-left: 15px; margin-right: 15px;" class="help-page-table table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Url</th>
                        <th>Description</th>
                    </tr>
                </thead>
                @foreach (var api in Model)
                {

                    <tbody>
                        <tr>
                            <td class="api-name">@api.HttpMethod.Method</td>
                            <td class="api-name"><a href="@Url.Action("Api", "Help", new {apiId = api.GetFriendlyId()})">@api.RelativePath</a></td>
                            <td class="api-documentation">
                                @if (api.Documentation != null)
                                {
                                    <p>@api.Documentation</p>
                                }
                                else
                                {
                                    <p>No documentation available.</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
    <br />
</div>
